%audio#audio{:src => 'http://s3contents.chinesepod.com/1656/3532560445875c8ec035e0a5d75ed06ed7f81c58/mp3/64/chinesepod_5832_dialogue_50881_prototype_2276.mp3' }

.sentence= @question.sentence
.difficulty= @question.difficulty
-if not @question.nil? and not @question.translations.nil?
  -@question.translations.each do |t|
    .translation
      .language= t.language
      .sentence= t.sentence
