.sentence= @question.sentence
.difficulty= @question.difficulty
-if not @question.translations.nil?
  -@question.translations.each do |t|
    .translation
      .language= t.language
      .sentence= t.sentence
