%h1 Chinese Dictator 中文

%ul#info
  %li
    Help
    .content
      I'm some info!
  %li 
    About
    .content
      I'm some info as well!

%ul#difficulty
  %li
    %a{ :href => '#' } Easy
  %li
    %a{ :href => '#' } Medium
  %li
    %a{ :href => '#' } Hard

%input#userinput{ :type => 'text' }

#flash

#graph
