%h1 Chinese Dictator 中文

%ul#info
  %li
    Help
    .content
      I'm some info!
  %li 
    About
    .content
      I'm some info as well!

%ul#difficulty
  %li
    %a{ :href => '#' } Easy
  %li
    %a{ :href => '#' } Medium
  %li
    %a{ :href => '#' } Hard

%audio#audio{:src => 'http://s3contents.chinesepod.com/1656/3532560445875c8ec035e0a5d75ed06ed7f81c58/mp3/64/chinesepod_5832_dialogue_50881_prototype_2276.mp3' }

#controls
  %input.play{ :type => 'button', :value => 'Play' }

%input#userinput{ :type => 'text' }

#flash

#graph
