$background: #eee;

$scroll-container-width: 500px;
$container-width: 500px;

$theme-color-bright: #d2b100;
$theme-color-dark: #bc9a52;

$link-color: $theme-color-dark;

$header-height: 165px;
$nav-height: 42px;

@mixin textshadow($p1, $p2, $p3, $color) {
  -moz-text-shadow: $p1 $p2 $p3 $color;
  -webkit-text-shadow: $p1 $p2 $p3 $color;
  text-shadow: $p1 $p2 $p3 $color;
}

@mixin textshadowtwo($p1, $p2, $p3, $color, $s1, $s2, $s3, $color2) {
  -moz-text-shadow: $p1 $p2 $p3 $color, $s1 $s2 $s3 $color2;
  -webkit-text-shadow: $p1 $p2 $p3 $color, $s1 $s2 $s3 $color2;
  text-shadow: $p1 $p2 $p3 $color, $s1 $s2 $s3 $color2;
}

@mixin dropshadow($p1, $p2, $p3, $color) {
  -moz-box-shadow: $p1 $p2 $p3 $color;
  -webkit-box-shadow: $p1 $p2 $p3 $color;
  box-shadow: $p1 $p2 $p3 $color;
}

@mixin scale($size) {
  -moz-transform: scale($size);
  -webkit-transform: scale($size);
  transform: $size;
}

@mixin transition($p1, $p2, $p3) {
  -webkit-transition: $p1 $p2 $p3;
  -moz-transition: $p1 $p2 $p3;
  -o-transition: $p1 $p2 $p3;
  -ms-transition: $p1 $p2 $p3;
  transition: $p1 $p2 $p3;
}

.clear { clear: both; }
::selection, ::-moz-selection { background-color: $theme-color-bright; color: black; }

body, p, ul, li, h1, h2, h3 {
  padding: 0;
  margin: 0;
}

h1 { padding-bottom: 0.5; }

ul { margin-bottom: 1em; }

body {
  background-color: $background;
  background-image: url(content-bg.png);
  font-family: adelle, sans-serif;//ff-dagny-web-pro;
  color: $theme-color-dark;
  @include textshadow(0px, 1px, 0, black);
}

a, a:visited {
  color: $link-color;
  text-decoration: none;
  @include textshadow(1px, 1px, 0, black);
  @include transition(all, 0.3s, ease-in-out);

  &:hover {
    color: $theme-color-bright;
    @include scale(1.2);
    @include textshadow(2px, 2px, 0, black);
  }
}

h1 {
  font-size: 3em;
  text-align: center;
}

.container {
  width: $container-width;
  margin: 0 auto;
  padding: 10px;
}

/* header */

header {
  background: yellow;
  @include dropshadow(5px, 5px, 5px, black);

  background-image: url(header-bg.png);
  height: $header-height;

  text-shadow: 1px 1px 2px black;

  margin-bottom: 15px;
}

header .starburst {
  position: absolute;
  top: 0;
  left: 50%;

  width: 729px;
  margin-left: -364px;
  height: $header-height;
  background: url(starburst.png);
  z-index: 0;
}

header .topOptions {
  margin-top: 7px;
}

header .language {
  position: relative;
  float: left;
  width: 50%;
}

header .twitter {
  position: relative;
  float: right;
  width: 50%;
  text-align: right;
}

header #logo {
  position: relative;
  margin-top: 20px;

  h1 {
    width: 394px;
    background-repeat: no-repeat;
    margin: 0 auto;

    @include transition(all, 0.3s, ease-in-out);

    color: $theme-color-bright;
    @include textshadow(7px, 7px, 0px, black);

    &:hover {
      @include scale(1.2);
    }
  }
}

/* Section-scrolling */

#contentBoxMain, .centeredContainer {
  width: $scroll-container-width; 
  margin: 0 auto;
  overflow: hidden;
}
.contentBox {
  width: $scroll-container-width;
  overflow: hidden;
}

#contentScroll {
  overflow: auto;
  width: 10000px;
  height: 500px;
}
  
.section {
  width: 2000px;
  float: left;
}

/* Info area */

#navigator {
  position: absolute;
  width: 0px;
  height: $nav-height;
  background: $theme-color-bright;
  z-index: 0;
}

nav {
  display: block;
  height: $nav-height;
  position: absolute;
  top: $header-height - $nav-height;
}

#info {
  position: relative;
  list-style: none;
  display: inline;
  width: 100%;

  li {
    width: $container-width / 4;
    float: left;
    height: 2em;

    font-size: 1.3em;
    font-weight: bold;
    text-align: center;

    a {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      padding-top: 10px;

      &:hover {
        color: white;
      }
    }
    
  }
}

.hovered {
  color: white;
}

/* Difficulty selector */

#difficulty {
  position: relative;
  list-style: none;
  display: inline;
  width: 100%;

  li {
    width: $container-width / 3;
    float: left;
    text-align: center;
    height: 1.75em;

    a {
      display: block;
    }
  }
}

/* Interactive area */

#controls input[type=button] {
  padding: 10px 0;
  margin: 0;
  width: 100%;
  margin: 1em 0;
}

#userinput {
  width: 100%;
  padding: 7px 5px;
  margin: 0;
  font-size: 1.2em;
}

.correct {
  border: 3px solid green;
}

.incorrect {
  border: 3px solid red;
}

#question { display: none; }

#progressBar {
  position: relative;
  width: $container-width;
  height: 2em;
}
.pbLabel {
  position: absolute;
  width: 100%;
  text-align: center;
  line-height: 2em;
}
