@import "compass/css3";

$background: #eee;

$scroll-container-width: 500px;
$container-width: 500px;

$theme-color-bright: #d2b100;
$theme-color-dark: #bc9a52;

$link-color: $theme-color-dark;

$header-height: 165px;
$nav-height: 42px;

.clear { clear: both; }
::selection, ::-moz-selection { 
  background-color: $theme-color-bright;
  color: black;
  @include text-shadow(0 1px 1px white);
}

// Firefox hacks
a:focus { outline: none; }
button:-moz-focus-inner { border: 0; }

body, p, ul, li, h1, h2, h3 {
  padding: 0;
  margin: 0;
}

h1 { padding-bottom: 0.5; }

ul { margin-bottom: 1em; }

body {
  background-color: $background;
  background-image: url(content-bg.png);
  font-family: ff-dagny-web-pro, sans-serif;
  color: $theme-color-dark;
  @include text-shadow(0px 1px 0 black);
}

p { line-height: 1.5em; }
#tools li { padding-bottom: 1em; }

a, a:visited {
  color: $link-color;
  text-decoration: none;
  @include text-shadow(1px 1px 0 black);
  @include transition-property(all);
  @include transition-duration(0.3s);
  @include transition-timing-function(ease-in-out);

  &:hover {
    color: $theme-color-bright;
    @include text-shadow(2px 2px 0 black);
  }

}

#tools a, #tools a:visited, #about a, #about a:visited {
  border-bottom: 1px dashed $theme-color-bright;
}

h1 {
  font-size: 2.6em;
  text-align: center;
}

.container {
  width: $container-width;
  margin: 0 auto;
}

/* header */

header {
  background: yellow;
  @include box-shadow(5px 5px 5px black);

  background-image: url(header-bg.png);
  height: $header-height;

  @include text-shadow(1px 1px 2px black);

  margin-bottom: 25px;
}

header .starburst {
  position: absolute;
  top: 0;
  left: 50%;

  width: 729px;
  margin-left: -364px;
  height: $header-height;
  background: url(header-image.png);
  z-index: 0;
}

header .topOptions {
  margin-top: 7px;
}

header .language {
  position: relative;
  float: left;
  width: 50%;
}

header .twitter {
  position: relative;
  float: right;
  width: 50%;
  text-align: right;
}

header #logo {
  position: relative;
  margin-top: 20px;

  h1 {
    background-repeat: no-repeat;
    margin: 0 auto;

    @include transition-property(all);
    @include transition-duration(0.3s);
    @include transition-timing-function(ease-in-out);

    color: $theme-color-bright;
    @include text-shadow(7px 7px 0px black);

    &:hover {
      @include scale(1.2);
    }
  }
}

/* Section-scrolling */

#contentBoxMain, .centeredContainer {
  width: $scroll-container-width; 
  margin: 0 auto;
  overflow: hidden;
}
.contentBox {
  width: $scroll-container-width;
  overflow: hidden;
}

#contentScroll {
  overflow: auto;
  width: 10000px;
  height: 1000px;
}
  
.section {
  width: 2000px;
  float: left;
}

/* Info area */

#navigator {
  position: absolute;
  width: 0px;
  height: $nav-height;
  background: $theme-color-bright;
  z-index: 0;
}

nav {
  display: block;
  height: $nav-height;
  position: absolute;
  top: $header-height - $nav-height;
}

#info {
  position: relative;
  list-style: none;
  display: inline;
  width: 100%;

  li {
    width: $container-width / 3;
    float: left;
    height: 2em;

    font-size: 1.3em;
    font-weight: bold;
    text-align: center;

    a {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      padding-top: 10px;

      &:hover {
        @include scale(1.2);
        color: white;
      }
    }
    
  }
}

.hovered {
  color: white;
}

/* Difficulty selector */

#difficulty {
  position: relative;
  list-style: none;
  display: inline;
  width: 100%;

  li {
    width: $container-width / 5;
    float: left;
    text-align: center;
    height: 1.75em;

    a {
      display: block;

      &:hover {
        @include scale(1.2);
      }
    }
  }
}

/* Interactive area */

#userinput {
  width: $container-width - 16px;
  padding: 7px 5px;
  margin: 0;
  font-size: 1.2em;
  text-align: center;
}

.correct {
  border: 3px solid green;
}

.incorrect {
  border: 3px solid red;
}

#question { display: none; }
#audioContent { display: block; height: 0; width: 0; }

#instructions {
  text-align: center;
  #difficulty {
    display: none;
  }
}

#notifications {
  margin-top: 1em;
  text-align: center;
}

.pulsating {
  @include text-shadow(0 0 1px $theme-color-bright);
}

#notifications #instructions {
  display: none;
}

#hint { display: none; }

#progressBar {
  position: relative;
  width: $container-width - 2px;
  height: 2em;
  margin-bottom: 1em;
}

.pbLabel {
  position: absolute;
  width: 100%;
  text-align: center;
  line-height: 2em;
}

.controls-button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  padding: .5em 2em .5em;
  width: 240px;
  color: black;

  padding: 10px 0;
  margin: 0;
  margin: 1em 0;

  @include border-radius(5px);
  @include text-shadow(0 1px 1px #cacaca);

  background-color: $theme-color-bright;
  @include background(linear-gradient(top, lighten($theme-color-bright, 10%), darken($theme-color-bright, 10%)));
  border: 1px solid black;

  &:hover {
    @include background(linear-gradient(top, lighten($theme-color-bright, 5%), darken($theme-color-bright, 15%)));
  }

  &:active {
    @include box-shadow(inset 0 0 5px 1px black, inset 0 1px 0 0 black);
  }
}

.half-width {
  position: relative;
  width: 249px;
  text-align: center;
}

.play {
  float: left;
}

.hint {
  float: right;
}

#dropdown #tutorial {
  margin-bottom: 20px;
}

#dropdown .showHideTutorial, .showHideSyllable  {
  padding-top: 12px;
  margin-bottom: 20px;
  height: 2em;
  text-align: center;
  cursor: pointer;
  width: 249px;
  
  a, a:visited {
    border-bottom: 1px dashed $theme-color-bright;
    padding-bottom: 5px;
    margin-bottom: 10px;

    &:hover {
      @include scale(1);
    }
  }
}

#syllables {
  display: none;
  font-size: 1em;

  label {
    @include text-shadow(0 0 0 white);
  }

  #initials, #finals {
    width: 240px;
    text-align: center;
  }

  #initials { float: left; }
  #finals { float: right; }

  p { margin-bottom: 1em; }
}

.showHideTutorial { float: left; }
.showHideSyllable { float: right; }
