$background: #0d0d0d;

$scroll-container-width: 500px;
$container-width: 500px;

$theme-color-bright: #e20203;
$theme-color-dark: #7e0203;

$link-color: white;

.clear { clear: both; }
::selection, ::-moz-selection { background-color: $theme-color-bright; color: black; }

body, p, ul, li, h1, h2, h3 {
  padding: 0;
  margin: 0;
}

h1 { padding-bottom: 0.5; }

ul { margin-bottom: 1em; }

body {
  background-color: $background;
  font-family: ff-dagny-web-pro;
  color: white;
}

a, a:visited {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $theme-color-bright;
  }
}

h1 {
  font-size: 3em;
  text-align: center;
}

.container {
  width: $container-width;
  margin: 0 auto;
  padding: 10px;
}

/* Section-scrolling */

#contentBoxMain, .centeredContainer {
  width: $scroll-container-width; 
  margin: 0 auto;
  overflow: hidden;
}
.contentBox {
  width: $scroll-container-width;
  overflow: hidden;
}

#contentScroll {
  overflow: auto;
  width: 10000px;
  height: 500px;
}
  
.section {
  width: 2000px;
  float: left;
}

/* Info area */

nav {
  display: block;
  height: 50px;
  border-bottom: 4px solid $theme-color-bright;
}

#info {
  list-style: none;
  display: inline;
  width: 100%;

  li {
    width: $container-width / 4;
    float: left;
    height: 2em;

    font-size: 1.3em;
    font-weight: bold;
    text-align: center;

    &:hover {
      background: $theme-color-bright;
    }
  
    a {
      display: block;
      width: 100%;
      height: 100%;
      padding-top: 7px;

      &:hover {
        color: white;
      }
    }
    
  }
}

/* Difficulty selector */

#difficulty {
  list-style: none;
  display: inline;
  width: 100%;

  li {
    width: $container-width / 3;
    float: left;
    text-align: center;

    &:hover { background-color: $theme-color-bright; }

    a:hover {
      color: white;
    }
  }
}

/* Interactive area */

#controls input[type=button] {
  padding: 10px 0;
  margin: 0;
  width: 100%;
  margin: 1em 0;
}

#userinput {
  width: 100%;
  padding: 7px 5px;
  margin: 0;
  font-size: 1.2em;
}

.correct {
  border: 3px solid green;
}

.incorrect {
  border: 3px solid red;
}

#question { display: none; }
