!!!
%html
  %head
    %title Chinese Dictator

    = stylesheet_link_tag 'application'
    /= javascript_include_tag 'jquery'
    /= javascript_include_tag 'jquery-ui'
    /= javascript_include_tag 'jquery.scrollTo-min'
    /= javascript_include_tag 'dictator'
    /= javascript_include_tag 'main'
    = javascript_include_tag 'application'

    = csrf_meta_tag

    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script type="text/javascript" src="http://use.typekit.com/dfh6fwt.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  %body
   
    %header
      .starburst
      .centeredContainer
        .topOptions
          .language
            %a{ :href => '#' } English
            |
            %a{ :href => '#' } 汉语
          .twitter
            %a{ :href => 'http://twitter.com/_sjackson' }
              Follow me on Twitter.
        .clear

        #logo
          %a{ :href => '/' }
            %h1 Chinese Dictator
              
        %nav 
          #navigator
          %ul#info
            %li.learn
              %a.selected.hovered{ :href => '#learn' }
                LEARN
            %li.tools
              %a{ :href => '#tools' }
                TOOLS
            %li.about
              %a{ :href => '#about' }
                ABOUT

    #contentBoxMain
      #contentScroll
        = yield

    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-2995032-4']);
    _gaq.push(['_trackPageview']);
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
